@model InsideAirbnb.Models.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
@section Scripts {
    <script src="~/js/mapbox.js" asp-append-version="true"></script>
    <script src="~/js/Charts.js" asp-append-version="true"></script>
}
<div class="map-container row">
    <div id='map' style="height:calc(100% - 57px)" class="col-md-8"></div>
    <div id='feature-listing' class='listing'></div>
    <nav id='filter-group' class='filter-group'></nav>
    <div class="map-sidebar col-md-4">
        <div class="row">
            <div class="col-md-6">
                <h3 id="filter_value">Amsterdam</h3>
                <label for="map_filter">Filter by:</label><br />
                <select class="form-control" id="map_filter">
                    <optgroup label="Amsterdam">
                        <option value="Amsterdam">Amsterdam</option>
                    </optgroup>
                    <optgroup label="neighbourhood">
                        @foreach (var item in Model.neighbourhoods)
                        {
                            <option value="@item.Neighbourhood">@item.Neighbourhood</option>}
                    </optgroup>
                </select>
            </div>
            <div class="col-md-6 center">
                <div class="center">
                    <h3>#<text id="number_listings_loaded"></text> Listings loaded</h3>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>Max price</p>
                <input id="multi" min="0" max="@Model.listings.Max(l => l.Price)" value="@Model.listings.Max(l => l.Price)" class="multi-range" type="range" /> <p id="maxPriceTag">10</p>
            </div>
            <div class="col-md-6">
                <p>Minimal amount of reviews</p>
                <input id="numberOfReviewsSlider" min="0" max="@Model.listings.Max(l => l.NumberOfReviews)" value="0" class="multi-range" type="range" /> <p id="minReviewTag">10</p>
            </div>
        </div>
        <hr />
        <div class="col-md-12">
            <p><b>How is Airbnb really being used in and affecting your neighbourhoods?</b></p>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <b>Room Type</b>
            </div>
            <div class="col-md-6" style="text-align: right;">
                <label for="apartmentFilterCheckbox" style="font-size:10px">
                    Only entire homes/apartments
                    <input id="apartmentFilterCheckbox" type="checkbox" name="filterApertmentsOnly" style="float:left" />
                </label>
            </div>
        </div>
        <hr style="margin:0px" />
        <div class="row" style="margin-right:3px;">
            <div class="col-md-4 no-padding">
                <p>
                    Airbnb hosts can list entire homes/apartments, private or shared rooms.
                    Depending on the room type, <a href="#">availability</a>, and <a href="#">activity</a>, an airbnb listing could be more like a hotel, disruptive for neighbours, taking away housing, and <a href="#">illigal</a>.
                </p>
            </div>
            <div class="col-md-6 chart-container no-padding" style="position: relative; height:40vh; width:80vw;">
                <canvas id="myChart"></canvas>
            </div>
            <div class="col-md-2 no-padding percentages">
                <b id="entireHomeApartmentsPercentage">%</b>
                <p class="sub-text">Entire homes/apartments</p>
                &euro;<b id="priceTagApertments"></b>
                <p class="sub-text">price/night</p>
                <b id="EntireHomeCount"></b>
                <p class="sub-text">Entire homes/apartments</p>
                <b id="privateRoomCount">(%%)</b>
                <p class="sub-text">private rooms</p>
                <b id="sharedRoomsCount"> (%%)</b>
                <p class="sub-text">shared rooms</p>
            </div>
        </div>
        @*
            End graph section right side
            Start Activity Tab
        *@
        <div class="row">
            <div class="col-md-6">
                <b>Activity</b>
            </div>
            <div class="col-md-6" style="text-align: right;">
                <label for="onlyRecentCheckbox" style="font-size:10px">
                    Only <b><a class="black-link" href="#" data-toggle="tooltip" title="recent: Listings with a review in the last 6 months">recent </a></b>and <b><a class="black-link" href="#" data-toggle="tooltip" title="frequent: Listings with an estimated booking nights per year of >60 nights.">frequently </a></b>booked.
                    <input id="onlyRecentCheckbox" type="checkbox" name="onlyRecentCheckbox" style="float:left" />
                </label>
            </div>
        </div>
        <hr class="separator" />
        <div class="row" style="margin-right:3px;">
            <hr style="margin:0px" />
            <div class="col-md-10">
                <p>Airbnb guests may leave a review after their stay, and these can be used as an indicator of airbnb activity.</p>
                <p>The minimum stay, price and number of reviews have been used to estimate the occupancy rate, the number of nights per year and the income per month for each listing.</p>
                <p>How does the income from Airbnb compare to a long-term lease?</p>
                <p>Do the number of nights booked per year make it impossible for a listing to be used for residential housing?</p>
                <p>And what is renting to a tourist full-time rather than a resident doing to our neighbourhoods and cities?</p>
            </div>
            <div class="col-md-2 no-padding percentages">
                <b id="nightsPerYearAverage">NNN (%%)</b>
                <p class="sub-text">estimated nights/year</p>
                <b id="reviewListingPerMonth">PRICE</b>
                <p class="sub-text">reviews/listing/month</p>
                <b id="totalReviewsPerMonth">(COUNT) (%%)</b>
                <p style="font-size:12px;text-align: right;">reviews</p>
                <b id="">(COUNT) (%%)</b>
                <p class="sub-text">estimated occupancy</p>
                <b id="">(COUNT) (%%)</b>
                <p class="sub-text">estimated income/month</p>
            </div>
        </div>
        @*
            End Active right side
            Start Availability Tab
        *@
        <div class="row">
            <div class="col-md-6">
                <b>Availability</b>
            </div>
            <div class="col-md-6" style="text-align: right;">
                <label for="onlyAvailabiltyCheckboc" style="font-size:10px">
                    Only HIGH available.
                    <input id="onlyAvailabiltyCheckboc" type="checkbox" name="onlyAvailabiltyCheckbox" style="float:left" />
                </label>
            </div>
        </div>
        <hr class="separator" />
        <div class="row" style="margin-right:3px;">
            <hr style="margin:0px" />
            <div class="col-md-10">
                <p>An Airbnb host can setup a calendar for their listing so that it is only available for a few days or weeks a year.</p>
                <p>Other listings are available all year round (except for when it is already booked).</p>
                <p>Entire homes or apartments <a class="black-link" href="#" data-toggle="tooltip" title="highly available: > 60 days/year">highly available</a>year-round for tourists, probably don't have the owner present, could be illegal, and more importantly, are displacing residents.</p>
            </div>
            <div class="col-md-2 no-padding percentages">
                <b id="highAvailablityPercentage">NNN (%%)</b>
                <p class="sub-text"><a class="black-link" href="#" data-toggle="tooltip" title="High: > 60 days/year">High</a> Availability</p>
                <b id="amountHighAvailability">(COUNT) (%%)</b>
                <p class="sub-text">Listings w <a class="black-link" href="#" data-toggle="tooltip" title="High: > 60 days/year">high</a> availability</p>
                <b id="amountLowAvailability">(COUNT) (%%)</b>
                <p class="sub-text">Listings w <a class="black-link" href="#" data-toggle="tooltip" title="Low: <= 60 days/year">low</a> availability</p>
                <b id="availabilityAverage">(COUNT) (%%)</b>
                <p class="sub-text">days/year</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 chart-container no-padding" style="position: relative; height:20vh; width:60vh;">
                <canvas id="availableChart"></canvas>
            </div>
            <div class="col-md-4 chart-container no-padding" style="position: relative; height:20vh; width:60vh;">
                <canvas id="availablePieChart"></canvas>
            </div>
        </div>
        @*
            End Availability tab
            Start listings count tab
        *@
        <div class="row">
            <div class="col-md-6">
                <b>Listings per host</b>
            </div>
            <div class="col-md-6" style="text-align: right;">
                <label for="onlyMultiListingsPerHostCheckbox" style="font-size:10px">
                    Only multi-listings
                    <input id="onlyMultiListingsPerHostCheckbox" type="checkbox" name="onlyMultiListingsPerHostCheckbox" style="float:left" />
                </label>
            </div>
        </div>
        <hr class="separator" />
        <div class="row" style="margin-right:3px;">
            <div class="col-md-10">
                <p>Some Airbnb hosts have multiple listings.</p>
                <p>A host may list separate rooms in the same apartment, or multiple apartments or homes available in their entirity.</p>
                <p>Hosts with multiple listings are more likely to be running a business, are unlikely to be living in the property, and in violation of most short term rental laws designed to protect residential housing.</p>
            </div>
            <div class="col-md-2 no-padding percentages">
                <b id="multiListingPercentage">NNN (%%)</b>
                <p class="sub-text">multi-listings</p>
                <b id="singleListingPercentage">(COUNT) (%%)</b>
                <p class="sub-text">single listings</p>
                <b id="amountMultiListings">(COUNT) (%%)</b>
                <p class="sub-text">multi-listings</p>
            </div>
        </div>
        <div class="row chart-container no-padding" style="position: relative; height:20vh; width:100%;">
            <canvas id="listingsPerHostChart"></canvas>
        </div>
        @*
            End listings per host section
            Start Top host list
        *@
        <div class="col-md-12">
            <a href="#" onclick="showTopHosts()">Top Hosts</a>
        </div>
        <div>
            <div id="topHostList" style="display: none">
                <table class="table table-striped">
                    <thead class="table-dark">
                        <tr>
                            <td scope="col">Host name</td>
                            <td scope="col">Listing ammount</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TopHosts())
                        {
                            <tr>
                                <td>@item.HostName</td>
                                <td>@item.CalculatedHostListingsCount</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>